@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf) format("truetype");
}

/* @font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} */

.Main{
    /*헤더에서 부터 작업공간 떨어뜨리기*/
    position:relative;
    top: 30px;

    /* background-color: beige; */
    height: 90vh;
    /* font-family: 'Pretendard'; */
    
}

.Main-Container1{
    height: 36%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 3%;
    text-align: center;
}


.Main-title{
    width: 50%;
    height: 35%;
    /* border: 1px solid tomato; */
}

.Main-title-writing{
    font-size:40px ;
    font-family: 'MaruBuri';
    font-weight: bold;
}



.weekly{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'MaruBuri';
    text-align: center;
}

.top3-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-board-container{
    background-color: rgba(219, 218, 218, 0.4);
    width: 100vw;
    height: 110vh;
}

/* 상세게시물 : position: relative;
    left: 10%; */

.big-container2{
    display: flex;
    /* border: 1px solid black; */
    
    width: 78vw;
    position: relative;
    left: 10%;
    
}

