.SideBar{
    max-width: 22vw;
    height: 40vh;   
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 8px rgb(204, 204, 204);
    padding: 0 0.5rem;
    

    /**/
    position: relative;
    right: 38px;
    top:68px;
    
}

.SideBar-title{
    font-size: 20px;
    text-align: left;
    padding: 25px;
    font-weight: bold;
    margin: 10px 0 10px;
}

.SideBar-icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1fr: 3개의 동일한 너비로 나누기 */
    gap: 10px;  /* 아이콘 간의 간격 */
    row-gap: 17px;
}

.SideBar-icon-container .icon {
    display: flex;
    justify-content: center;  /* 아이콘을 수평 가운데 정렬 */
}
