
.Write{
    width: 70vw;
    height: 100vh;
    position: relative;
    left: 14%;
    padding: 20px;
    margin-bottom: 20px;
}

.write-title{
    height: 8%;
    padding-left: 10px;
    margin-bottom: 35px;
}

.write-file{
    position: relative;
    top: 22px;
    left: 74%;
}

/* μΈν’‹- νμΌ */
  /* input[type="file"]::file-selector-button {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    cursor: pointer;
} */

/* input[type="file"]:hover::file-selector-button {
    background-color: rgb(77,77,77);
    color: #fff;
} */

.write-title-input{
    font-weight: bold;
    position: relative;
    top: 16px;
}

.write-title-inputbox{
    font-size: 38px;
    width: 67vw;
    border:none;
    outline: none;
    padding-left: 1rem;
}

.write-detail-author-info{
    max-width: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5rem;
}

.w-detail-author-profile{
    width: 40px;
    height: 40px;
}

.w-profileImg{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.w-detail-author-id{
    font-weight: bold;
    font-size: 18px;
}

.w-detail-author-date{
    font-size: 15px;
}


.detail-container2{
    width: 70vw;
    height: 80vh;
    /* border: 1px solid tomato;     */
}


.write-submit-btn{
    position: absolute;
    right: 8px;
    bottom: -140px;

    margin: 0 5px 0;
    font-size: 14px;
    color: rgb(152, 152, 152);
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 40px 40px rgb(197, 197, 197) inset, rgb(197, 197, 197) ;
    width: 6vw;
    height: 5vh;

    &:hover {
        box-shadow: 0 0 10px 0 rgb(197, 197, 197) inset, 0 0 10px 4px rgb(197, 197, 197);
        color: rgb(27, 27, 27);
        cursor: pointer;
      }

}

