.Edit{
    width: 70vw;
    height: 100vh;
    /* border: 1px solid black; */
    position: relative;
    left: 14%;
    /* top: 8px; */

    padding: 20px;
    margin-bottom: 20px;
}

.Edit-title{
    height: 8%;
    padding-left: 10px;
    margin-bottom: 35px;
}

.Edit-title-input{
    font-weight: bold;
    position: relative;
    top: 16px;
}

.Edit-title-inputbox{
    font-size: 40px;
    width: 67vw;
    border: none;
    /* border-bottom: solid #aaaaaa 1px; */
    outline: none;
}


.Edit-file{
    position: relative;
    top: 22px;
    left: 74%;
}

/* 인풋- 파일 */
/* input[type="file"]::file-selector-button {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    cursor: pointer;
} */

/* input[type="file"]:hover::file-selector-button {
    background-color: rgb(77,77,77);
    color: #fff;
} */



.Edit-detail-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    padding-right: 20px;

    /* border: 1px solid black; */
    
}

.Edit-detail-author-profile, .Edit-detail-author-id, .Edit-detail-author-date{
    margin-right: 5px;
}

.Edit-detail-author-info{
    /* border: 1px solid black; */
    
    display: flex;
    align-items: center;
}

.Edit-detail-author-profile{
    width: 50px;
    height: 50px;
}

.edit-img{
    display: flex;
    margin-left: 100px;
    /* background-color: tomato; */
}

.custom-quill .ql-editor img {
    max-width: 250px !important; /* 이미지 최대 너비 250px */
    height: auto !important; /* 비율 유지 */
}

/* img{
    width: 100%;
    height: 100%;
   
} */

.edit-profile-img{
    border-radius: 100%;
}

.detail-divide{
    width: 70vw;
    height: 1px;
    background-color: gray;
    margin-bottom: 44px;
}


.Edit-content{
    background-color: beige;
    height: 400px;
    width: 100%;
    border: none;
    resize: none;
    font-size: 16px;
    position: relative;
    top: 40px;
}


.Edit-submit-btn{
    margin-top: 20px;
    position: absolute;
    right: 15px;
    bottom: -150px;

    font-size: 15px;
    border-color: rgb(197, 197, 197);
    border-radius: 20px;
    border: none;
    color: #a1a1a1;
    box-shadow: 0 0 40px 40px rgb(197, 197, 197) inset, rgb(197, 197, 197) black;
    transition: all 200ms ease-in-out;
    width: 6vw;
    height: 5vh;
    
    &:hover {
      box-shadow: 0 0 10px 0 rgb(197, 197, 197) inset, 0 0 10px 4px rgb(197, 197, 197);
      color: rgb(27, 27, 27);
      cursor: pointer;
    }

}


