.New {
    width: 100vw;
    height: 98vh;
}

.new-title{
    padding: 4% 0 2% 6%;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: rgb(94, 94, 94);
}

@media (max-width: 1023px) {
    .New {
        width: 100%;
        height: auto;
    }
}

/* μ¤λ§νΈν° (0 ~ 767px) */
@media (max-width: 767px) {
    .New {
        width: 100%;
        height: auto;
    }
}