.Icon{
    display: flex;
    align-items: center; 
    justify-content: center;
   
}

.popularIcon{
    margin: 0 5px 0;
    font-size: 14px;
    color: rgb(152, 152, 152);
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 5px gray;
    width: 6vw;
    height: 5vh;
}


/* 태블릿: 768px ~ 1023px */
@media (max-width: 1023px) {
    .popularIcon {
      font-size: 13px;
      width: 80px;
      height: 36px;
    }
  }
  
  /* 스마트폰: 0 ~ 767px */
  @media (max-width: 767px) {
    .popularIcon {
      font-size: 12px;
      width: 70px;
      height: 34px;
      margin: 5px;
    }
  
    .Icon {
      flex-wrap: wrap; /* 줄바꿈 허용 */
      justify-content: center;
      gap: 6px;
    }
  }
  