
/*작업크기 설정*/
.Post-container {
    width: 48vw;
    height: auto; 
    background-color: white;
    border-radius: 0.625em;
    margin-left: 3.125em;
    margin-bottom: 1.25em;
    padding-bottom: 1rem;
}

.Post-content {
    padding: 1.063em 0 0 1.438em;  
    box-sizing: border-box;
}

/*사진 | 아이디, 글작성날짜 */
.Post-top{
    display: flex;
    margin-bottom: 0.625em;
}

.Post-user-info, .Post-mid, .Post-btm{
    text-align: left;
}



/* 프로필 이미지 */
img{
    width: 100%;
    height: 100%;   
}

.Post-img{
    height: 2.5em;
    width: 2.5em;
    /* border: none; */
    margin-right: 0.625em;
}

.Post-profile-img{
    border-radius: 100%;
}

.Post-date{
    font-size: 11px;
}


/*본문내용*/

.Post-mid{
    width: 35vw;
}

.Post-mid-title{
    margin-bottom: 4px;
    font-weight: 600;
}
.Post-mid-content{
    font-size: 13px;
    margin-bottom: 2px;
}


.Post-btm {
    display: flex;
    font-size: 11px;
    margin-top: 12px; 
    gap: 8px;
}


.Post{
    display: flex;
    justify-content: space-between;
}


.post-content-img {
    width: 172px;
    height: 152px;
    margin-right: 32px;
    margin-top: 8px; 
}

.post-content-img-src{
    border-radius: 10px;
}


/* 태블릿 (768px ~ 1023px) */
@media (max-width: 63.938rem) {
    .Post-container {
        width: 80%;
        height: auto;
        margin-left: 10%;
    }

    .Post-content {
        height: auto;
        width: 80%;
    }



    .Post-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .Post-mid {
        width: 100%;
    }

    .Post-mid-title {
        font-size: 16px;
    }

    .Post-mid-content {
        font-size: 14px;
    }

    .Post-btm {
        font-size: 12px;
    }

    .post-content-img {
        width: 100%;
        height: auto;
    }

    .Post {
        flex-direction: column;
        align-items: center;
    }
}

/* 스마트폰 (0 ~ 767px) */
@media (max-width: 767px) {
    .Post-container {
        width: 90%;
        height: auto;
        margin-left: 10%;
        margin-bottom: 15px;
    }

    .Post-content {
        left: 10px;
        top: 5px;
    }

    .Post-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .Post-mid {
        width: 100%;
    }

    .Post-mid-title {
        font-size: 14px;
    }

    .Post-mid-content {
        font-size: 12px;
    }

    .Post-btm {
        font-size: 10px;
    }

    .post-content-img {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .Post {
        flex-direction: column;
        align-items: center;
    }
}