
.Reply{
    background-color: #f0f0f0a9;
    font-size: 0.8rem;
    padding: 0.32rem 0.5rem;
    height: auto;
    margin-bottom: 0.3rem;
    width: 70%;
}

.reply-top{
    display: flex;
}

.reply-author-profileImg{
    width: 30px;
    height: 30px;

}

.reply-author-profileImg{
    border-radius: 100%;
    /* border: 1px solid gray; */
}