

img{
    width: 100%;
    height: 100%;
    /* border-radius: 100%; */
}
.Top3 {
    width: 300px;
    height: 400px;

    margin: 0 15px 80px;

    
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210902/pngtree-blue-sky-and-white-clouds-pure-sky-image_786707.jpg');
    background-size:cover;
    border-radius: 15px;


   
}

.detail{
    
    position: relative;
    top: 60%;
    
}

.Top3-top{
    /* border: 1px solid black; */
    display: flex;
    padding-left: 30px;
    margin-bottom: 10px;
}

.Top3-img-container{  
    height: 40px;
    width: 40px;
    border: none;
    margin-right: 10px;

}

.Top3-img{
    border-radius: 100%;
}

.Top3-user-info{
    text-align: left;
    position: relative;
    top: 7px;
    left: 2px;
    
}

.date{
    font-size: 11px;
}

.Top3-mid{
    margin-bottom: 10px;
    text-align: left;
}

.Top3-mid-title, .content{   
    width: 80%;
    padding-left: 30px;
    
    
}

.Top3-mid-title{
    font-weight: bold;
}

.content{
    margin-top: 5px;
    font-size: 13px;
}


.Top3-btm{
    height: 15px;
    display: flex;
    align-items: flex-start;
    font-size: 11px;
    padding-left: 30px;
}