

.Detail{
    /* width: 70vw;
    position: relative;
    left: 14%;
    top: 14px;
    padding: 20px;
    background-color: rgb(255, 99, 71, 0.3); */

    width: 70vw;
    min-height: 100vh;  /* 최소 높이를 화면 크기에 맞추고 */
    position: relative;
    left: 14%;
    top: 14px;
    padding: 20px;
    /* background-color: rgb(255, 99, 71, 0.3); */
    box-sizing: border-box;
    padding-bottom: 50px; /* 내용물 하단에 여유 공간 추가 */
}

.detail-title{
    /* border: 1px solid black; */
    height: 8%;
    padding-left: 10px;
}

.detail-title-writing{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
   

}

.detail-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    padding-right: 20px;

    /* border: 1px solid black; */
    
}

.detail-author-profile, .detail-author-id, .detail-author-date{
    margin-right: 5px;
}

.detail-author-info{
    /* border: 1px solid black; */
    
    display: flex;
    align-items: center;
}

.detail-author-profile{
    width: 50px;
    height: 50px;
    
    
}

.detail-profileImg{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.detail-divide{
    width: 70vw;
    height: 1px;
    background-color: gray;
    margin-bottom: 44px;
}


.detail-container2{
    /* width: 70vw;
    height: 80vh; */
    max-height: 60vh;  /* 댓글 영역이 화면의 60%를 넘지 않게 설정 */
    overflow-y: auto;   /* 스크롤이 가능하도록 설정 */
    padding-right: 10px;  /* 스크롤 바를 고려한 패딩 */
    margin-bottom: 20px;  /* 댓글 리스트 밑에 여유 공간 추가 */
}
.detail-content{
    /* height: 80%; */
    font-size: 17px;
    margin-bottom: 30px;
}

.detail-content img {
    max-width: 250px;  /* 최대 너비를 250px로 제한 */
    height: auto;      /* 자동으로 비율에 맞춰 높이를 조정 */
    display: block;    /* 이미지를 블록 요소로 변경하여 수평 정렬 */
    margin: 0 auto;    /* 이미지를 가운데 정렬 */
}

.detail-like-comment{
    display: flex;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.edit_btn, .delete_btn{
    border: 0;
    background-color: transparent;
}

.edit_btn:hover, .delete_btn:hover{
    cursor: pointer;
}


.commentInput{
    width: 50%;
    height: 20px;
    border: none;
    border-bottom: solid #6e7383 2px;
    margin: 10px 0 10px;
}

.replyInputbox{
    border: none;
    border-bottom: solid #6e7383 1px;
}
/* 인풋박스 클릭 - 효과 없음  */
.commentInput:focus{
    outline: none;
}

.reply-input, .reply_to_comment{
    position: relative;
    left: 20px;
    
}

