.Detail{
    width: 70vw;
    position: relative;
    left: 14%;
    top: 14px;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 50px; /* 내용물 하단에 여유 공간 추가 */
}

.detail-title{
    font-size: 37px;
    height: 8%;
    margin-bottom: 20px;
}

.detail-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.detail-author-profile, .detail-author-id, .detail-author-date{
    margin-right: 5px;
    font-size: 15px;
}

.detail-author-info{
    display: flex;
    align-items: center;
}

.detail-author-profile{
    width: 30px;
    height: 30px;
}

.detail-profileImg{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.detail-container2{
    overflow-y: auto;   /*스크롤이 가능하도록 설정*/
    padding-right: 10px;  /*스크롤 바를 고려한 패딩 */
    margin-bottom: 20px;  /* 댓글 리스트 밑에 여유 공간 추가 */
}

.detail-content{
    font-size: 22px;
    margin-bottom: 30px;
    padding: 30px 0 30px;
}

.detail-content img {
    max-width: 250px;  /* 최대 너비를 250px로 제한 */
    height: auto;      /* 자동으로 비율에 맞춰 높이를 조정 */
    display: block;    /* 이미지를 블록 요소로 변경하여 수평 정렬 */
    margin: 0 auto;    /* 이미지를 가운데 정렬 */
}

.detail-like-comment{
    display: flex;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
}


.detail_edit_btn, .detail_delete_btn{
    border: 0;
    background-color: transparent;
    /* border: 1px solid black; */
    font-size: 15px; 
}

.detail_edit_btn:hover, .detail_delete_btn:hover{
    cursor: pointer;
}


.commentInput{
    width: 50%;
    height: 20px;
    border: none;
    border-bottom: solid #6e7383 2px;
    margin: 10px 0 10px;
}

.replyInputbox{
    border: none;
    border-bottom: solid #6e7383 1px;
}
/* 인풋박스 클릭 - 효과 없음  */
.commentInput:focus{
    outline: none;
}

.reply-input, .reply_to_comment{
    margin-left: 1rem;   
}

.reply-btn{
    background-color: #4CAF50; /* Green */ 
    border: none;
    color: white; 
    padding: 0.5rem; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 13px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 10%;
}

.replies_in_detail{
    margin-left: 3rem;
}